@import "_partials/mixins";
@import "_partials/media";
@import "_partials/base";
@import "_partials/font";
@import "_partials/form";
@import "_partials/pages";
@import "_partials/typography";

html {
	position: relative;
	height: 100%;
	min-height: 100%;
}

body {
	position: relative;
	height: 100%;
	min-height: 100%;

	font-family: $font-family;
	color: $font-color;

	@import "../app/modules/navigation/navigation";
	@import "../app/templates/main-header";
	@import "../app/sections/mast";
}