<nav class="nav" ng-if="source.length">
	<ng-transclude></ng-transclude>

	<ul id="{{id}}">
		<li class="nav-item" ng-repeat="item in source track by $index">
			<a href="{{::item.href}}" class="{{::item.cssClass}}">{{::item.display}}</a>
		</li>
	</ul>
</nav>