<footer id="footer">

	<div class="row">
		<div class="col-xs-4 col-sm-2">
			<a href="#" target="_blank"><span class="social_icon_fb" title="Facebook"></span></a>
		</div>
		<div class="col-xs-4 col-sm-2">
			<a href="#" target="_blank"><span class="social_icon_twitter" title="Twitter"></span></a>
		</div>
		<div class="col-xs-4 col-sm-2">
			<a href="#" target="_blank"><span class="social_icon_instagram" title="Instagram"></span></a>
		</div>
		<div class="col-xs-4 col-sm-2">
			<a href="#" target="_blank"><span class="social_icon_snapchat" title="Snapchat"></span></a>
		</div>
		<div class="col-xs-4 col-sm-2">
			<a href="#" target="_blank"><span class="social_icon_vine" title="Vine"></span></a>
		</div>
		<div class="col-xs-4 col-sm-2">
			<a href="#" target="_blank"><span class="social_icon_tumblr" title="Tumblr"></span></a>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="logo">Sailor.</div>
	</div>
	<div class="col-sm-3">
		<h3>Company</h3>
		<navigation data-source="navigation.main"></navigation>
	</div>
	<div class="col-sm-3">
		<h3>Support</h3>
		<navigation data-source="navigation.sub"></navigation>
	</div>
	<div class="col-sm-3">
		<h3>Stay close with us</h3>
		<p>Subscribe our newsletter and get notified about our new products!</p>

		<subscription data-id="subscribe-form"></subscription>
	</div>
</footer>