#main-header {
	@include transition(background-color 0.4s);

	position: fixed;
	top: 0;
	width: 100%;
	min-width: 100%;
	height: 108px;
	min-height: 108px;
	padding: 30px 50px;

	&.active {
		background-color: $color-main;
	}

	.nav {
		#main-menu {
			float: right;

			.nav-item {
				font-size: 18px;
				font-weight: 400;

				.action {
					@include border-radius(20px);

					margin-left: 16px;
					padding: 10px 22px;
					font-size: 13px;
					font-weight: 500;
					border: 2px solid #fff;
				}
			}

			@include media(">=sm") {
				.nav-item {
					float: left;
					margin-top: 30px;

					a {
						padding: 10px 16px;
					}
				}
			}
		}
	}

	a {
		@include transition(background-color 1s);

		padding: 10px 20px;
		color: #fff;

		&.logo {
			padding: 10px 20px;
			font-size: 48px;
			font-weight: 600;

			&:focus, &:hover {
				text-decoration: none;
				background-color: $color-main;
				border-bottom-color: transparent;
			}
		}


	}
}