<form id="{{id}}" action="#" name="subscriptionForm">
	<input type="email" name="email" ng-model="userEmail" ng-pattern="pattern.email" placeholder="Email address" required>

	<a href="/"
	   target="_self"
	   class="submit"
	   ng-click="submit($event, subscriptionForm)"
	   ng-class="{disabled:!subscriptionForm.$valid}"
	   ng-disabled="!subscriptionForm.$valid">

		<span class="send_icon"></span>
	</a>
</form>