<!DOCTYPE html>
<html ng-app="Sailor" ng-controller="AppCtrl">
<head lang="en">
	<meta charset="UTF-8">
	<title>Sailor.</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<link rel="stylesheet" href="/assets/css/vendor.css"/>
	<link rel="stylesheet" href="/assets/css/styles.css"/>
	<link rel="stylesheet" href="/assets/css/svg.css"/>

	<link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
	<link rel="manifest" href="/assets/img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#035dcd">
	<meta name="msapplication-TileImage" content="/assets/img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#035dcd">
</head>

<body class="home svg">

<main class="container-fluid pages">
	<section id="mast" class="row page">
		<header class="jumbotron">
			<h1>This is Sailor.</h1>
			<p>Responsive. Retina ready. SVG-friendly.</p>
			<a class="btn btn-lg watch-video" href="#" role="button">
				<span class="play_icon"></span>
				Watch Video
			</a>
		</header>
		<div class="overlay blue"></div>
		<video autoplay="" loop="" poster="/assets/img/Sail-Away.jpg" id="sail-video">
			<source src="/assets/video/Sail-Away.webm" type="video/webm">
			<source src="/assets/video/Sail-Away.mp4" type="video/mp4">
			<source src="/assets/video/Sail-Away.ogv" type="video/ogv">
		</video>
		<span class="scroll_icon"></span>
	</section>

	<section id="about" class="row page" ng-controller="AboutCtrl">
		<header>
			<h2>About Sailor</h2>
			<p>Sailor is designed to make your business highly effective</p>
		</header>
		<article class="col-sm-4 perk" ng-repeat="perk in perks track by $index">
			<div class="{{::perk.icon}}"></div>
			<h3>{{::perk.position}}</h3>
			<p>{{::perk.lead}}</p>
		</article>
	</section>

	<section id="team" class="row page" ng-controller="TeamCtrl">
		<header>
			<h2>Executive Team</h2>
			<p>People are the most powerful and valuable part of every project</p>
		</header>
		<article class="col-sm-4 perk" ng-repeat="person in team track by $index">
			<img ng-src="{{::person.img}}" alt="">
			<h4>{{::person.name}}</h4>
			<p>{{::person.position}}</p>
		</article>
	</section>

	<section id="pricing" class="row page">
		<header>
			<h2>Pricing</h2>
			<p>We're sure that balance of quality to price is really high</p>
		</header>
		<div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
			<div class="col-sm-6 plan">
				<h4>Basic</h4>
				<p>A simple and powerful way to get things done</p>
				<ul class="details">
					<li>Wordpress theme</li>
				</ul>
				<p class="price">
					<sup>$</sup>10
				</p>
			</div>
			<div class="col-sm-6 plan">
				<h4>Total</h4>
				<p>The best way to have everything for oneself</p>
				<ul class="details">
					<li>Wordpress theme</li>
					<li>Sketch file</li>
					<li>Support</li>
				</ul>
				<p class="price">
					<sup>$</sup>20
				</p>
			</div>
		</div>
	</section>

	<section id="careers" class="row page" ng-controller="CareersCtrl">
		<header>
			<h2>Join our team</h2>
			<p>Interested in work with us? Check our job list and see if you're a match</p>
		</header>
		<div class="col-sm-6">
			<h3>Available Positions</h3>
			<p>Sailor is located in the Lower Silesia region in the city Wroclaw, Poland. We have an amazing office space in adopted old brewery and team of awesome people. We're absolutely sure that you'll love this place and us!</p>
			<a href="#" class="btn btn-default btn-rounded">View All Jobs</a>
		</div>
		<div class="col-sm-6">
			<article class="job" ng-repeat="job in jobs track by $index">
				<h4>{{::job.position}} <span class="chevron_icon"></span></h4>
				<p>{{::job.location}} - {{::job.description}}</p>
			</article>
		</div>
	</section>

	<section id="blog" class="row page" ng-controller="BlogCtrl">
		<header>
			<h2>Behind the scenes</h2>
			<p>We love to share our experience and best practices because we know the pain</p>
		</header>
		<article class="{{::article.cssClass}}" ng-repeat="article in articles track by $index">
			<img ng-src="{{::article.image}}" alt="">
			<h4>{{::article.title}}</h4>
			<p>{{::article.lead}}</p>
			<div class="drop">
				<span class="author">
					<span class="author">{{::article.author.name}}</span>
					<img src="{{::article.author.avatar}}" alt="">
				</span>
			</div>
		</article>
	</section>
</main>

<ng-include src="'templates/main-header.tpl.html'"></ng-include>
<ng-include src="'templates/footer.tpl.html'"></ng-include>

<script type="text/javascript" src="assets/js/vendor.js"></script>
<script type="text/javascript" src="assets/js/templates.js"></script>
<script type="text/javascript" src="assets/js/sailor.js"></script>
</body>
</html>