$src: "../fonts";
$font-files: "Gotham-Thin" "Gotham-XLight" "Gotham-Light" "Gotham-Book" "Gotham-Medium" "Gotham-Bold" "Gotham-Black" "Gotham-Ultra";

@each $font in $font-files {
	$index: index($font-files, $font);
	$weight: (100 * $index);

	@font-face {
		font-family: Gotham;
		font-weight: $weight;
		src: url("#{$src}/#{$font}.otf") format("opentype");
	}

	@font-face {
		font-family: Gotham;
		font-weight: $weight;
		font-style: italic;
		src: url("#{$src}/#{$font}Ita.otf") format("opentype");
	}
}