#mast {
	text-align: center;

	.jumbotron {
		color: #fff;
		background-color: transparent;

		h1, p {
			font-weight: 400;
			text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
		}

		h1 {
			font-size: 32px;
			line-height: 120%;
		}

		p {
			font-size: 12px;
			line-height: 122%;
		}

		@include media(">=sm") {
			h1 {
				font-size: 72px;
			}

			p {
				font-size: 28px;
			}
		}

	}

	.overlay {
		position: absolute;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -99;

		&.blue {
			background-color: $color-main;
			opacity: 0.79;
		}
	}

	video {
		position: absolute;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		background-size: cover;
	}

	.watch-video {
		@include border-radius(40px);

		margin-top: 75px;
		padding: 20px 36px;
		font-size: 18px;
		font-weight: 500;
		color: #fff;
		letter-spacing: 1px;
		text-transform: uppercase;
		background-color: #11294b;

		.play_icon {
			margin-right: 10px;
		}
	}

	.scroll_icon {
		position: absolute;
		bottom: 33px;
	}
}